body {
  background-image: url("../images/bgfaded.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center; 
  background-size: 100% 100%;
  background-color: white;
}
#map{
  float:right;
  text-align:center;
}
#header {
  background-color: #1757fb;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#nav {
  float: right;
}
#about {
 width:500px;
 float:left;
}
#footer {
  clear: both;
  background-color: #2c0571;
  text-align: center;
  color: white;
}

.title {
  font-family: Tahoma, serif;
  font-size: 18px;
}

.text {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}

body a {
  color: black;
}

#footer a {
  color: white;
}

body a:hover {
  color: red;
}

#footer a:hover {
  color: red;
}

ul {
  list-style-type: none;
}

ul.bullet {
  list-style-type: circle;
}

.inline {
  display: inline-block;
  position: relative;
  right: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#major-list-container {
  width: 200px;
}

#major-list {
  overflow-y: scroll;
  height: 80px;
  text-align: left;
}

.error {
  color: red;
}

img.major-image {
  height: 100px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.major-table {
  padding-left: 10px;
}

.box {
  border: 1px solid black;
}

td {
  padding: 5px 200px 5px 0px;
}

td.major-image {
  padding: 5px 5px 5px 5px;
}

.answer-letter {
  font-weight: bold;
}
